.Post {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

.Post:hover {
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
}

.Post img {
    width: 100%;
}

.CommentsButton, .UpsButton {
    font-size: small;
    margin: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    background-color: white;
}

.CommentsButton:hover, .UpsButton:hover {
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
}

.CommentsButton::before {
    content: "💬 ";
    font-size: medium;
}

.UpsButton::before {
    content: "👍 ";
    font-size: medium;
}

.PostInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
}

.Comments {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-wrap: break-word;
}

.Comments:hover {
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
}

.CommentInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
}

.FieldTitle {
    font-size: smaller;
}

@media only screen and (max-width: 1024px) {
    .Post {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .Post {
        width: 90%;
    }
}
